<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %>様、独り言の投稿ありがとうございます！</h1>
    <p><a href = 'https://agile-cove-84334.herokuapp.com/'>Monologue</a>に独り言の投稿が完了しました。</p>
    <p>独り言内容: <%= @blog.content %></p>
    <p>引き続きMonologueをお楽しみください。</p>
  </body>
</html>
