
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %>様、Monologueへようこそ。</h1>
      <p>
      https://agile-cove-84334.herokuapp.com/のサインアップが成功しました。
      あなたのお名前: <%= @user.login %>.<br>
    </p>
    <p>
      このサイトにログインするには、<%= @url %>をクリックしてください。
    </p>
    <p>どうぞお楽しみくださいませ。</p>
  </body>
</html>
