.index_title {
  margin-bottom: 30px;
}

.new_tweet {
  margin-bottom: 50px;
}

.blog-links {
  margin-top: 20px;
  margin-bottom: 50px;
}

.row {
  overflow: scroll;
}

.container-fluid {
  padding-bottom: 50px;
}
