
.p_title {
  color: #FFF;
  font-size: 320px;
  float: left;
  background-color: black;
  margin-top: 0;
  margin-bottom: 0;
  background-image: url("../images/portfolioimg.jpg")
}

.p_body {
  min-height: 100%;
}
