li{
    list-style:none;
}
ul{
    padding:0;
}

.header{
    font-size:20px;
    font-weight:bold;
    text-align:center;
    width: 100%;
    color: white;
}

.menu{
    background-color:#012F4B;
    color:#fff;
    height: 80px;
    margin-bottom: 20px;
}

.menu li {
    text-align:center;
    line-height: 90px;
    text-align:center;
    vertical-align:middle;
}

.contents {
  margin-top: 20px;
  margin-bottom: 100px;
}

.contents h4 {
  margin-bottom: 30px;
}

img {
  object-fit: contain;
  width:600px;
}
